<form #f='ngForm' (ngSubmit)='nextBtnClicked()'>
  <div
    #userData='ngModelGroup'
    class='form-container'
    id='step_1_data'
    ngModelGroup='step_1_data'>
    <div class='form-group'>
      <label for='firstName'>First Name</label>
      <input
        #firstName='ngModel'
        class='form-control'
        id='firstName'
        name='firstName'
        ngModel
        required
        type='text'>
      <div *ngIf='showErrorHint(firstName)' class='help'>Required</div>
    </div>
    <div class='form-group'>
      <label for='lastName'>Last Name</label>
      <input
        #lastName='ngModel'
        class='form-control'
        id='lastName'
        name='lastName'
        ngModel
        required
        type='text'>
      <div *ngIf='showErrorHint(lastName)' class='help'>Required</div>
    </div>
    <div class='form-group'>
      <label for='lastName'>Email</label>
      <input
        #email='ngModel'
        class='form-control'
        email
        id='email'
        name='email'
        ngModel
        required
        type='email'>
      <div *ngIf='showErrorHint(email)' class='help'>Email not valid</div>
    </div>
    <div class='form-group'>
      <label for='lastName'>Age</label>
      <input
        #age='ngModel'
        [allowedRange]='{min:allowedAge.min, max:allowedAge.max}'
        [min]='1'
        appRangeValidator
        class='form-control'
        id='age'
        name='age'
        ngModel
        required
        type='number'>
      <div *ngIf='showErrorHint(age)' class='help'>Must be between {{allowedAge.min}}-{{ allowedAge.max}}</div>
    </div>
  </div>
  <app-controls (onNext)='nextBtnClicked()'
                [disabledNextBtn]='!f.valid'
                nextLabel='Next'></app-controls>

  <!--  {{JSON.stringify(f.value)}}-->
</form>
