<form (ngSubmit)='onSubmitClicked()' [formGroup]='form'>
  <div
    class='form-container'
    id='step_2_data'>
    <div class='form-group'>
      <label for='companyName'>Company Name</label>
      <input
        class='form-control'
        formControlName='companyName'
        id='companyName'
        name='companyName'
        type='text'>
      <div *ngIf='showErrorHint(form.controls.companyName)'>
        <div *ngIf='form.controls.companyName.errors?.["required"]' class='help'>Required</div>
      </div>
    </div>
    <div class='form-group'>
      <label for='domainName'>Domain Name</label>
      <input
        class='form-control'
        formControlName='domainName'
        id='domainName'
        name='domainName'
        type='text'>
    </div>
    <div class='form-group'>
      <label for='noOfEmp'>No. Of Employees</label>
      <input
        class='form-control'
        formControlName='noOfEmp'
        id='noOfEmp'
        min='0'
        name='noOfEmp'
        required
        type='number'>
      <div *ngIf='showErrorHint(form.controls.noOfEmp)'>
        <div *ngIf='form.controls.noOfEmp.errors?.["min"]' class='help'>Required</div>
      </div>
    </div>
  </div>
  <app-form-buttons (onNext)='onSubmitClicked()'
                    (onPrev)='prevBtnClicked()'
                    [disabledNextBtn]='!form.valid'
                    [showPrevBtn]='true'
                    nextLabel='Submit'
  ></app-form-buttons>

</form>
