<form #f='ngForm' (ngSubmit)='onSubmitClicked()'>
  <div
    #userData='ngModelGroup'
    class='form-container'
    id='step_2_data'
    ngModelGroup='step_2_data'>
    <div class='form-group'>
      <label for='companyName'>Company Name</label>
      <input
        #companyName='ngModel'
        class='form-control'
        id='companyName'
        name='companyName'
        ngModel
        required
        type='text'>
      <div *ngIf='showErrorHint(companyName)' class='help'>Required</div>
    </div>
    <div class='form-group'>
      <label for='domainName'>Domain Name</label>
      <input
        class='form-control'
        id='domainName'
        name='domainName'
        ngModel
        type='text'>
    </div>
    <div class='form-group'>
      <label for='noOfEmp'>No. Of Employees</label>
      <input
        #noOfEmp='ngModel'
        [min]='1'
        class='form-control'
        id='noOfEmp'
        name='noOfEmp'
        ngModel
        required
        type='number'>
      <div *ngIf='showErrorHint(noOfEmp)' class='help'>Required</div>
    </div>
  </div>
  <app-controls (onNext)='onSubmitClicked()'
                (onPrev)='prevBtnClicked()'
                [disabledNextBtn]='!f.valid'
                [showPrevBtn]='true'
                nextLabel='Submit'
  ></app-controls>

  <!--  {{JSON.stringify(f.value)}}-->
</form>
