<form #f='ngForm' (ngSubmit)='onSubmit()'>
  <div
    #userData='ngModelGroup'
    class='form-container'
    id='step_2_data'
    ngModelGroup='step_2_data'>
    <div class='form-group'>
      <label for='companyName'>Company Name</label>
      <input
        #companyName='ngModel'
        class='form-control'
        id='companyName'
        name='companyName'
        ngModel
        required
        type='text'>
      <div *ngIf='showErrorHint(companyName)' class='help'>Required</div>
    </div>
    <div class='form-group'>
      <label for='domainName'>Domain Name</label>
      <input
        #domainName='ngModel'
        class='form-control'
        id='domainName'
        name='domainName'
        ngModel
        type='text'>
    </div>
    <div class='form-group'>
      <label for='noOfEmp'>Number Of Employees</label>
      <input
        #age='ngModel'
        [min]='1'
        class='form-control'
        id='noOfEmp'
        name='noOfEmp'
        ngModel
        required
        type='number'>
      <div *ngIf='showErrorHint(age)' class='help'>Required</div>
    </div>
  </div>
  <app-controls (onNext)='nextBtnClicked()'
                [disabledNextBtn]='!f.valid'
                [showPrevBtn]='true'
                nextLabel='Next'
  ></app-controls>

  <!--  {{JSON.stringify(f.value)}}-->
</form>
