<div class='app-container'>
  <app-form-container
    [stepNo]='stepNo'>

    <div [ngSwitch]='stepNo'>
      <app-form-step_1
        (onNext)='nextStep($event)'
        *ngSwitchCase='1'></app-form-step_1>
      <app-form-step_2
        (onPrev)='prevStep()'
        (onSubmit)='submitForm($event)'
        *ngSwitchCase='2'></app-form-step_2>
      <div *ngSwitchCase='3'>
        <h3 class='title' style='margin-bottom: 1rem'>Submitted, Thank you!</h3>
        <pre>{{JSON.stringify(formData, null, 2)}}</pre>
      </div>
      <div *ngSwitchDefault>Some Error has occurred</div>
    </div>
  </app-form-container>
</div>
