//CSS Reset /* You can add global styles to this file, and also import other style files */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

// Global

html {
  body {
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
    background: #e8edf4;
  }

  form {
    .form-container {
      margin-bottom: 4rem;

      label {
        margin-bottom: 0.4rem;
        font-weight: 600;
        color: #333;
      }

      .form-group {
        display: flex;

        label {
          white-space: nowrap;
          align-items: center;
          padding-top: 0.5rem;
          width: 9rem;
        }

        input {
          width: 20rem;
          height: 40px;
          border-radius: 5px;
          border: 1px solid #ccc;
          padding: 0.5rem;
          margin-bottom: 1.2rem;

          &.ng-invalid.ng-touched {
            border-color: red;
          }
        }

        .help {
          color: red;
          font-size: 0.8rem;
          padding-top: 0.6rem;
          margin-left: 1rem;
        }
      }
    }
  }
}
